.envoltorio_destacados{
    background-color: #011e58cc;
    height: 700px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    opacity: 0.9;
}

.Dobby{
   
    opacity: 0.9;
    text-align: center;
    margin: 5px;
    justify-content: space-around;
    padding: 40px
}

.Text1{
    margin: 9px 0 -50px;
    text-align: center;
    font-size: 25px;
    color: #fafafa;
    line-height: 200%

}

.Text{
    margin: 100px 170px 137px;
    font-size: 20px;
    text-align: center;
    color: #f0f0f0;
    padding: 5px;
    line-height: 200%
}
@font-face{
    font-family: HARRYP__;
    src: url(HARRYP__.TTF);
}
.Text2{
    margin: 55px;
    font-size: 100%;
    text-align: center;
    color: rgb(247, 247, 247);

}


.Text3{
    margin: 55px;
    text-align: center;
    font-size: 20px;
    color: rgb(235, 235, 235);
    line-height: 200%

}

.envoltorio_destacados div {
    color: beige;
    width: 565px;
    text-align: center;
    margin: -80px;
    padding: 80px;
    line-height: 200%
}


.container{
    color: #000000;
}

.Subtitulo{
    font-size: 100px;
    color: cornsilk;
}

.Dobby1{
    font-family:HARRYP__;
    font-size: 150px;
    
}

.Footer{
    margin: auto;
    padding: 50px;
}
